@model List<BlogApp.Web.Models.ViewPostVM>;
@{
    var user_id = Context.Session.GetString("user_id");
    var pager = ViewBag.pager;

}
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">-</th>
                <td>@item.Title</td>
                <td>@item.Author.UserName</td>
                <td>
                    <a asp-controller="User" asp-action="ViewPost" asp-route-id="@item.Id">View</a>
                    @if (user_id == item.Author.Id)
                    {
                        <span>| </span>
                        <a asp-controller="User" asp-action="UpdatePost" asp-route-id="@item.Id">Update</a>
                        <form asp-controller="User" asp-action="DeletePost" method="post">
                            <input type="hidden" name="id" value="@item.Id" />
                            <button class="link-dark" type="submit">Delete</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_PostPaginationPartial", model="@pager" />
